<nav
  class="navbar fixed top-0 left-0 right-0 w-full z-50 bg-white shadow-md rounded-lg px-4 py-3 flex flex-wrap items-center"
>
  <div
    class="w-full md:w-auto flex justify-center md:justify-start flex-1 order-1 md:order-none mb-2 md:mb-0">
    <a routerLink="/"   class="navbar-title font-bold text-2xl flex items-center justify-center h-14 color">
      Aroma Hub
    </a>

    <h3 class=" text-[#ff6600] rounded-full px-2 py-1 w-4 ml-3 mr-9 font-bold"> Welcome, {{username}} </h3>
  </div>


  <div class="nav-links flex flex-wrap  md:gap-6 justify-center">


        <a
          routerLink="/products"
          routerLinkActive="text-[#ff6600]"
          [routerLinkActiveOptions]="{ exact: false }"
          class="hover:text-[#ff6600]">
          Products
        </a>

        <a
          routerLink="/chefs"
          routerLinkActive="text-[#ff6600]"
          class="hover:text-[#ff6600]">
          Team
        </a>

        <a
          routerLink="/contact-info"
          routerLinkActive="text-[#ff6600]"
          class="hover:text-[#ff6600]">
          Contact
        </a>
  </div>

  <div  (click)="toggleDropdown()" class="nav-dropdown relative">
  <span
    class="dropdown-toggle cursor-pointer text-[#ff6600]"
   >
    Quick Menu <span class="ml-1">&#x25be;</span>
  </span>

    <div *ngIf="dropdownOpen"
        class="dropdown-menu absolute top-8 left-0 w-36 bg-white border border-gray-300 rounded-lg shadow-lg overflow-auto z-50">
      <a class="dropdown-item hover:bg-[#ff6600] hover:text-white px-4 py-2 block" routerLink="/profile">Profile</a>
      <a class="dropdown-item hover:bg-[#ff6600] hover:text-white px-4 py-2 block" routerLink="/my-orders">My Orders</a>
      <a *ngIf="isUserAdmin()" class="dropdown-item hover:bg-[#ff6600] hover:text-white px-4 py-2 block" routerLink="/product/add">Add product</a>
      <a *ngIf="isUserAdmin()" class="dropdown-item hover:bg-[#ff6600] hover:text-white px-4 py-2 block">All Orders</a>
    </div>
  </div>


  <div
    class="w-full md:w-auto flex items-center gap-2 mx-10 px-3 py-1 order-2 md:order-none mb-2 md:mb-0 md:mr-[10px]"
  >
    <input [(ngModel)]="searchKey" (keydown.enter)="search(searchKey)"
           type="text"
      placeholder="Search"
      class="search-input outline-none text-gray-800 rounded-full px-2 py-1 w-full md:w-48"
    />

    <button (click)="search(searchKey)"
      class="search-btn bg-[#ff6600] text-white rounded-full px-4 py-1 hover:bg-[#e65c00] transition-colors"
    >
      Search
    </button>
  </div>

  <div class="navbar-card order-4 ml-0 md:ml-4 w-full md:w-auto flex justify-center md:justify-start">
    <app-card></app-card>
  </div>
  <div class="order-5 ml-4 mb-2 md:mb-0 md:mr-[10px]">
    <button *ngIf="isLoggedIn" (click)="logout()" class="search-btn bg-[#ff6600] text-white rounded-full px-4 py-1 hover:bg-[#e65c00] transition-colors" >

      Logout</button>
  </div>
</nav>
