<section class="orders-section">
  <div class="container">
    <div class="orders-header">
      <h1 class="orders-title">Your Orders</h1>
    </div>
    <div class="orders-body">
      <div *ngIf="orders.length === 0" class="no-orders-message">
        Your cart is empty
      </div>

      <div class="table-wrapper"  *ngIf="orders.length > 0">
        <table class="orders-table">
          <thead class="orders-thead">
          <tr>
            <th class="empty-col"></th>
            <th class="img-col">Item</th>
            <th class="product-col">Product Details</th>
            <th class="price-col">Price</th>
            <th class="quantity-controls-col">Quantity</th>
            <th class="total-col">Total</th>
            <th class="close-col"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="order-row" *ngFor="let orderCart of orders">
            <td class="empty-col"></td>
            <td class="img-col">
              <img class="order-img" [src]="'assets/img/' +orderCart.imagePath" alt="Product Image" />
            </td>
            <td class="product-col">
              <div class="product-info">
                <span class="product-name">{{ orderCart.name }}</span>
                <span class="product-desc">{{ orderCart.description }}</span>
              </div>
            </td>
            <td class="price-col" data-label="Price">  ${{orderCart.price }}</td>
            <td class="quantity-controls-col" data-label="Quantity">
              <div class="quantity-wrapper">
                <button class="remove-btn" (click)="decrementQuantity(orderCart)">-</button>
                <input disabled type="text" name="quantity" class="quantity-input" value={{orderCart.quantity}} min="1" max="100" />
                <button class="add-btn" (click)="incrementQuantity(orderCart)">+</button>
              </div>
            </td>
            <td class="total-col" data-label="Total">${{ orderCart.quantity * orderCart.price }}</td>
            <td class="close-col">
              <button type="button" class="close-btn" (click)="remove(orderCart)" aria-label="Remove item">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>

          </tbody>
        </table>
        <div class="take-order-row">
          <button class="take-order-btn" (click)="confirmOrder()">Order Now</button>
        </div>
      </div>

    </div>
  </div>
</section>
