<div class="rounded-t-2xl z-50 bg-transparent text-[#bbb] text-center text-sm select-none relative py-5 px-4 font-sans">
  <div class="max-w-screen-xl mx-auto">
    <div class="leading-relaxed">
      &copy;
      <a href="" class="text-[#ff6600] font-semibold hover:underline hover:text-[#e65c00]">
        Restaurant
      </a>,
      All Right Reserved.
      Designed By
      <a href="" class="text-[#ff6600] font-semibold hover:underline hover:text-[#e65c00]">
        Abdurahman Hussein
      </a>
    </div>
  </div>
</div>
