.category-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.category-item {
  margin: 5px;
}

.category-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;  /* const width */
  height: 50px;  /* Const height */
  padding: 0 8px;
  border-radius: 30px;
  color: #ff6600;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  gap: 5px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border: 1px solid;
}

.category-link:hover {
  background-color: #ff6600;
  color: #fff;
  border-color: #cc5200;
}

.active {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}

.category-link.active:hover {
  background-color: #e65c00;
  border-color: #e65c00;
}


.category-link.active .category-icon {
  color: #fff;
}

.category-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}
.active-category {
  background-color: #ff6600;
  color: white;
  border-radius: 30px;

}


.category-subtitle {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 2px;
  position: relative;
  left: -3px;
}

.category-link.active .category-subtitle {
  color: rgba(255, 255, 255, 0.8);
}

.category-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: black;
  position: relative;
  left: -5%;

}
.category-link:hover .category-title {
  color: #fff;
}

.category-link:hover .category-subtitle {
  color: #fff;
}


.category-link.active .category-title {
  color: #fff;
}
.category-title, .category-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

.svg-icon {
  color: red;
}

.menu-section {
  padding: 60px 0; /* Add padding above and below the section */
  text-align: center;
  margin-top: 100px;
}

/* Styles for the section title within the menu section */
.menu-section .section-title {
  font-size: 2rem; /* Adjust title font size */
  font-weight: bold;
  color: #333; /* Dark color for the title */
  margin-bottom: 30px;
  position: relative;


}

.section-title {
  position: relative;
  text-align: center;
  display: inline-block;
}

.section-title::before,
.section-title::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  background: #ff6600;
  top: 50%;
  margin-top: -1px;
}

.section-title::before {
  left: -55px;
}

.section-title::after {
  right: -55px;
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}
