<section class="menu-section" data-wow-delay="0.1s">


  <h5 class="section-title">Our Menu</h5>



<ul class="category-tabs">
  <li class="category-item"
      *ngFor="let cat of categories "
      [ngClass]="{ 'active-category': cat.id === currentCategoryId }"
  >
    <a
      class="category-link"
      [routerLink]="cat.id === 21 ? ['/products'] : ['/category', cat.id]"
      [queryParams]="{ page: 1 }"
    >
      <img
        [ngSrc]="'assets/img/icons/' + cat.icon"
        [alt]="cat.name"
        class="category-icon"
        height="30"
        width="30"
      />
      <div class="category-text">
        <small class="category-subtitle">{{ cat.highlight }}</small>
        <h6 class="category-title">{{ cat.name }}</h6>
      </div>
    </a>
  </li>
</ul>
</section>

