<app-category></app-category>
<div *ngIf="noResultsFound" class="no-results-message">
  <span>{{ messageEn }}</span>
</div>
<div class="tab-content"  *ngIf="!noResultsFound" >
  <div class="menu-item" *ngFor="let product of products ">
    <img class="menu-img" [src]="'assets/img/'+product.imagePath" alt="{{product.name}}" width="350" height="350"/>
    <div class="menu-info">
      <h5>
        <span>{{ product.name }}</span>
        <span class="price"> {{ product.price | currency }}</span>
      </h5>
      <small>{{ product.description }}</small>
      <button type="button" class="btn-add" (click)="addToCart(product)">Add to Cart</button>
    </div>
  </div>
</div>
<div *ngIf="totalPages > 0" class="flex items-center justify-center space-x-4 my-10">
  <button
    (click)="previousPage()"
    [disabled]="page === 1"
    class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow disabled:opacity-50 disabled:cursor-not-allowed"
  >
    ‹
  </button>

  <span  *ngIf="!noResultsFound"
         class="w-10 h-10 flex items-center justify-center rounded-full bg-white border-2 border-[#ff6600] text-[#ff6600] font-bold text-lg shadow"
  >
    {{ page  }}
  </span>

  <button
    (click)="nextPage()"
    [disabled]="page === totalPages || noResultsFound"
    class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow disabled:opacity-50 disabled:cursor-not-allowed"
  >
    ›
  </button>
</div>


