<app-category></app-category>
<div *ngIf="noResultsFound" class="no-results-message">
  <span>{{ messageEn }}</span>
</div>
<div class="tab-content mb-10"  *ngIf="!noResultsFound" >
  <div class="menu-item" *ngFor="let product of products ">
    <img class="menu-img mb-7 mr-3" [src]="'assets/img/'+product.imagePath" alt="{{product.name}}" width="350" height="350"/>
    <button *ngIf="isUserAdmin()"
      type="button"
      (click)="editProduct(product)"
      class="text-yellow-500 text-xl hover:text-yellow-700 absolute bottom-2 left-12"
    >
      <i class="fas fa-edit"></i>
    </button>

    <button *ngIf="isUserAdmin()"
      type="button"
      (click)="deleteProduct(product.id)"
      class="text-red-600 text-xl hover:text-red-800 absolute bottom-2 left-20"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
    <div class="menu-info">
      <h5>
        <span>{{ product.name }}</span>
        <span class="price"> {{ product.price | currency }}</span>
      </h5>
      <small>{{ product.description }}</small>

      <button type="button" class="btn-add" (click)="addToCart(product)">Add to Cart</button>
    </div>

    </div>

  </div>
<div *ngIf="totalPages > 1" class="flex items-center justify-center space-x-4 my-10">
  <button
    (click)="previousPage()"
    *ngIf="page > 1"
    class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow disabled:opacity-50 disabled:cursor-not-allowed"
  >
    ‹
  </button>

  <span  *ngIf="!noResultsFound"
         class="w-10 h-10 flex items-center justify-center rounded-full bg-white border-2 border-[#ff6600] text-[#ff6600] font-bold text-lg shadow"
  >
    {{ page  }}
  </span>

  <button
    (click)="nextPage()"
    *ngIf="!(page >= totalPages) || noResultsFound"
    class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow disabled:opacity-50 disabled:cursor-not-allowed"
  >
    ›
  </button>
</div>


