
<div *ngIf="noResultsFound" class="-4 mb-4 text-lg text-red-600 rounded-lg  flex justify-center ">
  <span class="font-bold">No Product matching </span>
</div>
<div class="tab-content" id="tab-1" *ngIf="!noResultsFound" >
  @for (product of products; track product.id ){
  <div class="menu-item">
    <img class="menu-img" [src]="'assets/img/'+product.imagePath" alt="{{product.name}}" width="350" height="350"/>
    <div class="menu-info">
      <h5>
        <span>{{ product.name }}</span>
        <span class="price"> {{ product.price | currency }}</span>
      </h5>
      <small>{{ product.description }}</small>
      <button type="button" class="btn-add">Add to Cart</button>
    </div>
  </div>
  }
</div>
<div class="flex items-center justify-center space-x-4 my-10">
  <button
    (click)="previousPage()"
    [disabled]="page === 0"
    class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow disabled:opacity-50 disabled:cursor-not-allowed"
  >
    ‹
  </button>

  <span  *ngIf="!noResultsFound"
         class="w-10 h-10 flex items-center justify-center rounded-full bg-white border-2 border-[#ff6600] text-[#ff6600] font-bold text-lg shadow"
  >
    {{ page + 1 }}
  </span>

  <button
    (click)="nextPage()"
    [disabled]="page=== totalPages || products.length <8"
    class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow disabled:opacity-50 disabled:cursor-not-allowed"
  >
    ›
  </button>
</div>


