<div class="app-container relative ">

  <app-header *ngIf="!isLoginPage"></app-header>

  <main class="main-content">


    <router-outlet ></router-outlet>

    <app-loader></app-loader>
  </main>

  <app-footer *ngIf="!isLoginPage"></app-footer>


  <!-- Back to Top -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <button *ngIf="!isLoginPage" class="back-to-top dark:bg-gray-800" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>


</div>
