<div class="app-container relative ">

  <app-header *ngIf="!isLoginPage"></app-header>

  <main class="main-content">


    <router-outlet ></router-outlet>

    <app-loader></app-loader>
  </main>

  <app-footer *ngIf="!isLoginPage"></app-footer>


  <!-- Back to Top -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <button *ngIf="!isLoginPage" class="w-10 h-10 flex items-center justify-center rounded-full bg-[#ff6600] text-white font-bold text-lg shadow fixed bottom-4 right-4 z-50 hover:bg-white hover:text-[#e65c00]" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>


</div>
