
/* disable selecting   */
* {
  user-select: none;
}
/* Styles for the main application container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure container takes at least the full viewport height */
  overflow: hidden;
  position: relative;
}

/* Styles for the main content area */
.main-content {
    flex-grow: 1;
    background-color: #f9f9f9;
    padding: 20px; /* Optional: Add internal padding to the main content area */
}


